html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #64ba8a;
    font-family: Tahoma, sans-serif;
}

.main-menu-container {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.main-menu-button {
    background-color: #fcdb82;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px black;
    transition: all 0.1s linear;
}
.big-small {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.new-game,.show-answer {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
@media (max-width:700px) {
    .new-game,.show-answer {
        font-size: 1rem;
    }
}
.game-window {
    background-color: #fcdb82;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.game-grid-cover {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 0 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #fcdb82;
}
.start-button {
    width: 30%;
    height: 20%;
    background-color: #64ba8a;
    color: white;
    font-size: 3rem;
    border-radius: 10px;
    box-shadow: 1px 1px 0px 1px black;
}

.game-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 3px;
}
.grid-box {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Tahoma, sans-serif;
    transition: all 0.1s linear;
}

@media (max-height:750px) {
    .grid-box {
        font-size: 1.5rem;
    }
    .big-small,.start-button {
        font-size: 2rem;
    }
}
@media (max-height:450px) {
    .grid-box {
        font-size: 1rem;
    }
    .big-small,.start-button {
        font-size: 1.5rem;
    }
}
.grid-box:nth-of-type(1) {
    border-radius: 10px 0 0 0 ;
}
.grid-box:nth-of-type(15) {
    border-radius: 0 10px 0 0 ;
}
.grid-box:nth-of-type(136) {
    border-radius: 0 0 0 10px;
}
.grid-box:nth-of-type(150) {
    border-radius: 0 0 10px 0;
}

.grid-box {
    box-shadow: 1px 1px 0 1px black;
}


.gogreen {
    background-color: palegreen;
}

.generating {
    background-color: black;
}
.ready {
    background-color: green;
}

.clicked {
    box-shadow: none;
}
.make-white {
    box-shadow: 0 0 10px 10px white;
}
.win {
    background-color: lightskyblue;
    box-shadow: 0 0 5px 5px white;
}
.hide-me {
    display: none;
    z-index: -5;
}

